<div class="thb-header-mobile-left">
  {% render 'header-mobile-toggle', header_settings: header_settings %}
</div>

{% render 'header-full-menu', menu: header_settings.menu, blocks: blocks %}

{% if header_settings.logo %}
  <a href="/" class="logolink">
  {%- render 'responsive-image', image: header_settings.logo, sizes: '407x0,814x0' -%}
    {%- liquid
        if header_settings.logo_light != blank
            assign light_logo = header_settings.logo_light
        else
            assign light_logo = header_settings.logo
        endif
    -%}
{%- render 'responsive-image', image: header_settings.logo, sizes: '407x0,814x0' -%}

    
  </a>
{% else %}
  <a href="/" class="logolink text-logo">
    {{ shop.name }}
  </a>
{% endif %}

{% render 'header-secondary-area', header_settings: header_settings %}