.carousel__quotes--wrapper .row,
.carousel__quotes--wrapper .carousel__quotes--inner ,
.carousel__item {
  width: 100%;
}

.carousel__quotes--wrapper {
  display: flex;
}

.carousel__quotes--wrapper .flickity-viewport {
  max-width: 886px;
}

.carousel__item--wrapper {
  width: 100%;
}

.carousel__item {
  max-width: 886px;
}

.carousel__quotes p {
  font-family: 'Garamond Premiere Pro';
  font-size: 48px;
  line-height: 60px;
  letter-spacing: normal;
  margin: 0;
}

a.cart-product-link.h4 {
  font-family: 'Garamond Premiere Pro';
  line-height: 25px;
  font-size: 20px;
  letter-spacing: normal;
}

.carousel__align--left .carousel__author {
  display: flex;
  align-items: center;
}

.carousel__align--left .carousel__author:before {
  content: '';
  width: 45px;
  height: 1px;
  display: block;
  background: #333333;
  margin-right: 14px;
}

.carousel__quotes--wrapper .flickity-prev-next-button[disabled] {
  opacity: 0.3;
}

.carousel__quotes--wrapper .row {
  max-width: 1294px;
  margin: 90px auto;
}

.carousel__quotes--wrapper.hide__arrows-desktop .row {
  margin: 90px auto 30px;
}

.carousel__quotes--wrapper .flickity-prev-next-button svg {
  display: none;
}

.carousel__quotes--wrapper .flickity-prev-next-button:before {
  content: '';
  width: 25px;
  display: block;
  height: 17px;
}

.carousel__quotes--wrapper .flickity-viewport {
  margin-bottom: 60px;
}

.carousel__quotes--wrapper .flickity-prev-next-button {
  top: 100%;
}

.carousel__quotes--wrapper .flickity-prev-next-button.previous {
  margin-right: 20px;
}

.carousel__quotes--wrapper .flickity-prev-next-button.previous:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='18' viewBox='0 0 25 18'%3E%3Cpath d='M23.5 9.51234L24.5 9.51234L24.5 7.51234L23.5 7.51234L23.5 9.51234ZM1 8.51234L0.315486 7.78334C0.114184 7.97236 6.80845e-07 8.2362 6.56705e-07 8.51234C6.32564e-07 8.78848 0.114184 9.05232 0.315486 9.24134L1 8.51234ZM8.3155 16.7532C8.71811 17.1312 9.35096 17.1113 9.72901 16.7087C10.1071 16.3061 10.0871 15.6732 9.68452 15.2952L8.3155 16.7532ZM9.68453 1.72951C10.0871 1.35147 10.1071 0.718615 9.72901 0.316C9.35097 -0.0866158 8.71811 -0.106532 8.3155 0.271514L9.68453 1.72951ZM23.5 7.51234L1 7.51234L1 9.51234L23.5 9.51234L23.5 7.51234ZM9.68452 15.2952L1.68452 7.78334L0.315486 9.24134L8.3155 16.7532L9.68452 15.2952ZM1.68452 9.24134L9.68453 1.72951L8.3155 0.271514L0.315486 7.78334L1.68452 9.24134Z' fill='%23333333'/%3E%3C/svg%3E");
}

.carousel__quotes--wrapper .flickity-prev-next-button.next:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='18' viewBox='0 0 25 18' fill='none'%3E%3Cpath d='M1 7.51183H6.55651e-07V9.51183L1 9.51183L1 7.51183ZM23.5 8.51183L24.1845 9.24083C24.3858 9.05181 24.5 8.78796 24.5 8.51183C24.5 8.23569 24.3858 7.97185 24.1845 7.78283L23.5 8.51183ZM16.1845 0.271C15.7819 -0.107046 15.149 -0.0871295 14.771 0.315486C14.3929 0.718101 14.4129 1.35095 14.8155 1.729L16.1845 0.271ZM14.8155 15.2947C14.4129 15.6727 14.3929 16.3056 14.771 16.7082C15.149 17.1108 15.7819 17.1307 16.1845 16.7527L14.8155 15.2947ZM1 9.51183H23.5V7.51183L1 7.51183L1 9.51183ZM14.8155 1.729L22.8155 9.24083L24.1845 7.78283L16.1845 0.271L14.8155 1.729ZM22.8155 7.78283L14.8155 15.2947L16.1845 16.7527L24.1845 9.24083L22.8155 7.78283Z' fill='%23333333'/%3E%3C/svg%3E");
}

.carousel__align--center .carousel__item {
  margin: 0 auto;
  text-align: center;
}

.carousel__align--center .carousel__author {
  justify-content: center;
}

.carousel__align--center .flickity-prev-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__align--center .flickity-prev-next-button.previous {
  left: 0;
}

.carousel__align--center .flickity-prev-next-button.next {
  right: 0;
}

.carousel__align--center .carousel__item {
  max-width: 100%;
  padding: 0 115px;
}

.carousel__align--center .flickity-viewport {
  margin-bottom: 0;
}

.carousel__type--small .carousel__quotes p {
  font-size: 36px;
  line-height: 50px;
}

.carousel__quotes--wrapper .carousel__align--left .flickity-prev-next-button {
  top: 100%;
  transform: none;
}

.carousel__quotes--wrapper .flickity-prev-next-button {
  background: transparent;
  width: auto;
  height: auto;
}

.carousel__align--left .flickity-prev-next-button.next {
  left: 45px;
}

.carousel__align--left .carousel__author img {
  max-height: 50px;
  object-fit: contain;
  object-position: left;
}

.carousel__quotes--wrapper .caption {
  font-size: 16px;
  margin: 0;
}

@media only screen and (max-width: 767px) { 

  .carousel__quotes--wrapper .flickity-viewport {
    margin-bottom: 40px;
  }

  .carousel__align--left .carousel__author {
    margin-top: 28px;
  }

  .carousel__quotes--wrapper .row {
    margin: 25px auto 75px;
  }

  .hide__arrows-mobile.carousel__quotes--wrapper .row {
    margin: 25px auto 30px;
  }

  .carousel__quotes p {
    font-size: 28px;
    line-height: 34px;
  }

  .carousel__align--left .carousel__author img {
    max-width: 127px;
  }

  .carousel__align--left .carousel__author:before {
    width: 37px;
    margin-right: 15px;
  }

  .carousel__align--left .flickity-prev-next-button.previous {
    margin: 0;
  }

  .carousel__align--left .flickity-prev-next-button.next {
    left: 45px;
  }

  .carousel__align--center .carousel__item {
    padding: 0;
  } 

  .carousel__quotes--wrapper .carousel__align--center .flickity-prev-next-button {
    top: 100%;
  }

  .carousel__type--small .carousel__quotes p {
    font-size: 26px;
    line-height: 34px;
  }

  .carousel__align--center .carousel__author {
    margin-top: 30px;
  }

  .hide__arrows-mobile .flickity-button {
    display: none;
  }

}

@media only screen and (min-width: 767px) {

  .hide__arrows-desktop .flickity-button {
    display: none;
  }

}

@media only screen and (min-width: 1068px) {

  .carousel__quotes--wrapper .row {
    padding-left: 35px;
    padding-right: 35px;
  }

}