.classes__events--wrap .section__header {
  padding: 0 20px;
}

.classes__events--wrap .section_heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.1em;
}

.classes__events--wrap .section__description {
  font-family: 'AGaramondPro';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
}