.classes__events--wrap .section__header {
  padding: 0 20px;
}

.classes__events--wrap .section_heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.1em;
}

.classes__events--wrap .section__description {
  font-family: 'AGaramondPro';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
}

.classes__events--wrap .block__items--wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 54px;
  row-gap: 47px;
}

.classes__events--wrap svg {
  padding: 50px;
  fill: var(--bg-body, #fff);
  opacity: .5;
  background: var(--color-accent);
}

.classes__events--wrap .detail_row--item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #333;
}

.classes__events--wrap .details-heading, 
.classes__events--wrap .details-content-text, 
.classes__events--wrap .details-content-text p {
  color: #53595c;
  font-family: Saa Series F D;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
  margin: 0;
}

.classes__events--wrap .block__description {
  padding: 10px 0;
}

.classes__events--wrap .block__description p {
  margin: 0;
}

.classes__events--wrap .block__buttons {
  display: flex;
}

.classes__events--wrap .btn {
  border-radius: 6px;
  flex: 1;
}


