.custom__image--overlay .image-with-text-overlay--bg {
  min-height: inherit;
}

.custom__image--overlay .image-with-text-overlay--bg img {
  min-height: inherit;
  object-fit: cover;
}

.custom__image--overlay .image-with-text-overlay--content-inner.content-width-large {
  max-width: 800px;
}

.custom__image--overlay .image-with-text-overlay--content .rte {
  margin-bottom: 0;
}

.custom__image--overlay .image-with-text-overlay--content .heading {
  margin-bottom: 16px;
  line-height: 53px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-weight: 400;
}

.custom__image--overlay .image-with-text-overlay--content .rte * {
  font-family: 'AGaramondPro';
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  
  .custom__image--overlay .image-with-text-overlay-caption--box {
    padding: 44px 40px;
  }
  
}

@media only screen and (max-width: 767px) {

  .custom__image--overlay .image-with-text-overlay--content-inner {
    padding: 17px 20px 38px;
  }

  .custom__image--overlay .image-with-text-overlay--content .heading {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 14px;
  }

  .custom__image--overlay .image-with-text-overlay--content .rte * {
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;
  }
  
}