.custom__rich-text .rich-text__inner {
  max-width: 800px;
  padding: 0;
}

.custom__rich-text .rich-text__inner h3 {
  margin-bottom: 24px;
}

.custom__rich-text .custom__description ul {
  padding-left: 30px;
  margin: 0;
}

.custom__rich-text .rich-text .rte {
  margin-bottom: 0;
}

.custom__rich-text .custom__description ul li {
  margin-bottom: 4px;
}

.custom__rich-text .button {
  margin-top: 26px;
  min-height: 40px;
  height: 100%;
  padding: 14px 40px 7px;
  min-width: 262px;
}

.rich__text--2 .custom__rich-text .rich-text__inner .heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.15em;
}

.rich__text--2 .custom__description * {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.04em;
}