.meet__host--header {
  margin-bottom: 37px;
}

.hosts__list {
  display: flex;
  justify-content: center;
  column-gap: 38px;
}

.meet__host--items {
  flex: 0 1 350px;
}

.meet__host-media svg {
  border: 1px solid;
}

.meet__host--header .section_heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.02em;
  margin: 0;
}

