.mobile-menu .sub-menu {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.mobile-menu-drawer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: var(--color-header-bg, var(--bg-body, #fff));
  height: calc(100vh - calc(100% + var(--header-offset, 0px)));
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, transform;
  transform: translateY(50px);
  transition: opacity 0.25s cubic-bezier(0.104, 0.204, 0.492, 1), transform 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
  scrollbar-width: none;
}

.mobile-menu-drawer::-webkit-scrollbar {
  display: none;
}

@supports (height:100dvh) {
  
  .mobile-menu-drawer {
    height: calc(100dvh - calc(100% + var(--header-offset, 0px)));
  }

}

.mobile-menu-drawer.active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.mobile-menu-drawer--inner {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-menu-drawer .thb-mobile-menu-footer {
  padding: 19px 24px 13px 24px;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  background: var(--color-header-bg, var(--bg-body, #fff));
  border-top: 1px solid #666666;
}

@media only screen and (min-width:768px) {
  
  .mobile-menu-drawer .thb-mobile-menu-footer {
    padding: 30px;
  }

}

.mobile-menu-drawer .thb-mobile-menu-footer .thb-localization-forms {
  text-align: left;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form > div {
  margin-left: 0;
  margin-right: 20px;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select {
  margin-bottom: 0;
  padding-right: 14px;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select-arrow {
  right: 0;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select-arrow svg path {
  stroke: var(--color-header-text, --color-body);
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form select {
  font-size: 0.875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-header-text, --color-body);
}

.mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--color-header-links, --color-accent);
}

.mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-link svg {
  margin-top: -5px;
  height: 20px;
  margin-right: 12px;
  height: 14px;
  width: auto;
}

.mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-link svg path {
  fill: var(--color-header-links, --color-accent);
}

.no-js .mobile-menu-drawer .thb-mobile-menu-footer .thb-mobile-account-link {
  margin-left: auto;
}

.mobile-menu-drawer .mega-menu-promotion {
  width: 100%;
}

.mobile-menu-drawer .mega-menu-promotion--cover {
  padding: 0 30px 30px 30px;
}

@media only screen and (min-width:768px) {
  
  .mobile-menu-drawer .mega-menu-promotion--cover {
    padding: 0 50px 50px 50px;
  }

}

.mobile-menu {
  list-style: none;
  margin: 0 0 20px;
  overflow: hidden;
  width: 100%;
  padding: 0 24px;
}

@media only screen and (min-width:768px) {
  
  .mobile-menu {
    padding: 0 30px;
  }

}

.mobile-menu li a,
.mobile-menu li summary {
  display: flex;
  align-items: center;
  color: var(--charcoal-black);
}

.mobile-menu li a span,
.mobile-menu li summary span,
.mobile-menu .parent-link-back button span {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 59px;
  width: 24px;
  justify-content: center;
}

.mobile-menu li a span svg path,
.mobile-menu li summary span svg path {
  stroke: var(--color-header-links, --color-accent);
}

.mobile-menu li .link-container summary {
  width: 100%;
  justify-content: space-between;
}

.no-js .mobile-menu li .link-container[open] > .sub-menu {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu li .link-container[open].menu-opening > .sub-menu {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu .parent-link-back button {
  width: 100%;
  font-size: 0.875rem;
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--color-header-links, --color-accent);
}

.mobile-menu .parent-link-back button svg {
  margin-right: 10px;
}

.mobile-menu .parent-link-back button svg path {
  stroke: var(--color-header-links, --color-accent);
}

.mobile-menu .sub-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-header-bg, #var --bg-body, #fff);
  transform: translateX(100%);
  margin-left: 0;
  list-style: none;
  padding: 0 14px;
  visibility: hidden;
}

@media only screen and (min-width:768px) {
  
  .mobile-menu .sub-menu {
    padding: 0 30px;
  }

}

.mobile-menu .sub-menu .sub-menu {
  z-index: 12;
}

.mobile-secondary-menu {
  list-style: none;
  margin: 0 0 30px;
  font-size: 0.875rem;
  padding: 0 24px;
}

@media only screen and (min-width:768px) {
  
  .mobile-secondary-menu {
    padding: 0 30px;
  }

}

.mobile-secondary-menu a {
  display: block;
  font-size: inherit;
  color: var(--color-header-links, --color-accent);
}

.mobile-menu-drawer .side-panel-inner {
  z-index: 0;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header {
  padding: 10px 30px;
  background: var(--color-header-bg, #fff);
  border: none;
  height: auto;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header .searchform {
  flex: calc(100% - 20px) 0 0;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header .searchform .search-field {
  border: none;
  padding: 0;
  font-family: 'Saa Series F D';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  color: #333333;
  height: auto;
  padding: 8px 0;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header .searchform .search-field:focus-visible {
  outline: 0;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header .searchform .search-field::placeholder {
  color: #333333;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header>div {
  border-bottom: 1px solid #666666;
}

.mobile-menu-drawer .side-panel-inner .side-panel-header .side-panel-close {
  width: 20px;
  text-align: center;
}

.mobile-menu-drawer .mobile-menu {
  margin: 0;
}

.mobile-menu-drawer .mobile-menu > li {
  margin-bottom: 10px;
}

.mobile-menu-drawer .mobile-menu > li .parent-link {
  justify-content: flex-start;
  position: relative;
}

.mobile-menu-drawer .mobile-menu > li .parent-link span {
  position: absolute;
  right: 0;
  top: -4px;
}

.mobile-menu-drawer .mobile-menu>li .sh2 {
  margin: 0;
}

.mobile-menu-drawer .mobile-menu>li img {
  margin-right: 12px;
  max-width: 60px;
}

.mobile-menu-drawer .mobile-menu>li .parent-link p {
  margin-bottom: 0px;
}

.mobile-menu-drawer .mobile-menu>li:last-child {
  margin-bottom: 0;
}

.mobile-menu-drawer .mobile-secondary-menu {
  border-bottom: 1px solid #666666;
  padding-top: 21px;
  padding-bottom: 29px;
}

.mobile-menu-drawer .mobile-secondary-menu .btn {
  margin-top: 18px;
}

.mobile-menu-drawer .mobile-secondary-menu .mobile__secondary-menu--inr {
  margin: 0;
  list-style: none;
  border-top: 1px solid #666666;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 17px;
}

.mobile-menu-drawer .mobile-secondary-menu .mobile__secondary-menu--inr li {
  width: calc(50% - 10px);
}

.mobile-menu-drawer .mobile-secondary-menu .mobile__secondary-menu--inr .navigation__link {
  color: var(--dark-gray);
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu {
  padding-top: 10px;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back {
  width: 100%;
  margin-bottom: 22px;
  padding: 0 6px;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back img {
  display: none;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back span {
  position: absolute;
  left: 0;
  top: 0px;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back button {
  justify-content: center;
  position: relative;
  padding-top: 9px;
  border-bottom: 1px solid #666666;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back button .sh2 {
  margin: 0;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation {
  max-width: 33.33%;
  padding: 0 6px;
  display: inline-block;
  margin-left: -3px;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation.no_image_class {
  max-width: 100%;
  width: 100%;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation.no_image_class .navigation__link {
  margin-bottom: 10px;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation p {
  width: 100%;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .parent-link-back {
  flex: 100% 0 0;
  margin-bottom: 22px;
  padding: 0 6px;sz
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation a {
  height: auto;
  flex-wrap: wrap;
}

.mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation img {
  margin-bottom: 10px;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
}

.mobile-menu-drawer .side-panel-inner .side-panel-content--has-tabs .thb-prfedictive-search--popular {
  display: none;
}

.mobile-menu-drawer .side-panel-inner .side-panel-content--has-tabs  .side-panel-content--tabs {
  display: none;
}

@media only screen and (max-width:767px) {
  
  .mobile-menu-drawer .side-panel-inner .side-panel-header {
    padding: 15px 24px 10px 24px;
  }

  .mobile-menu .parent-link-back button svg {
    height: 18px;
    width: 7px;
  }
  
}

@media only screen and (max-width:374px) {
  
  .mobile-menu-drawer .mobile-menu>li .link-container .sub-menu .sub__menu--navigation img {
    max-width: 90px;
  }
  
}
