


.thb-predictive-search--popular div a {
  font-family: 'Saa Series F D';
  display: inline-flex;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 62px;
  align-items: center;
  margin: 0 5px;
  border: 1px solid #53595C;
  color: #53595C;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 13px 17.5px 10px;
  height: auto;
  /* border: 1px solid var(--color-border);  */
}
  .thb-predictive-search--popular div a:hover, .thb-predictive-search--popular div a.active {
    color: #fff;
    background: var(--color-accent);
    border-color: var(--color-accent); }



.thb-predictive-search--popular {
  margin-bottom: 30px;
  line-height: 0; }
  .thb-predictive-search--popular scroll-shadow {
    margin-left: -30px;
    width: calc(100% + 60px); }
  .thb-predictive-search--popular mark {
    background: none;
    font-weight: 500;
    color: inherit; }
  .thb-predictive-search--popular div {
    display: block;
    overflow-x: scroll;
    padding: 0 30px;
    white-space: nowrap;
    scrollbar-width: none; }
    .thb-predictive-search--popular div::-webkit-scrollbar {
      display: none; }
    .thb-predictive-search--popular div a:first-child {
      margin-left: 0; }

.thb-predictive-search--promotion .products.row {
  padding: 0 30px;
  margin: 0 -0.25rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; }
  .thb-predictive-search--promotion .products.row::-webkit-scrollbar {
    display: none; }
  .thb-predictive-search--promotion .products.row .columns {
    scroll-snap-align: center;
    scroll-snap-stop: always; }
  @media only screen and (min-width: 768px) {
    .thb-predictive-search--promotion .products.row {
      margin: 0 -0.9375rem;
      flex-wrap: wrap;
      overflow: inherit; } }

.thb-predictive-search--promotion-products {
  margin-left: -30px;
  width: calc(100% + 60px); }
  @media only screen and (max-width: 767px) {
    .thb-predictive-search--promotion-products .column {
      flex: 0 0 90%;
      max-width: 90%; } }



.search-drawer {
  max-width: 400px;
}

.search-drawer .thb-predictive-search--label {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 14px; 
  font-family: Saa Series F D;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #53595C;
}

.search-drawer .side-panel-content--tabs {
  height: auto;
}

.search-drawer .side-panel-content--tabs button {
  padding-left: 17px;
  padding-right: 17px;
  height: auto;
  display: block;
  margin-top: 17px;
  font-family: Saa Series F D;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #53595C;
}

.search-drawer .product-cart-item-image {
  margin-right: 12px;
}

.side-panel-content.side-panel-content--initial {
  border-top: 1px solid #94949C;
  border-bottom: 1px solid #94949C;
}

.side-panel.search-drawer .searchform input::placeholder {
  font-size: 18px;
  color: var(--charcoal-black);
}

.addtocart__small--wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.search-drawer .product-cart-item {
  padding-bottom: 53px;
  position: relative;
  margin-bottom: 36px;
}

.addtocart__small--wrapper .product-form {
  margin: 0;
}

.addtocart__small--wrapper .single-add-to-cart-button:before,
.addtocart__small--wrapper .single-add-to-cart-button:after {
  display: none;
}

.addtocart__small--wrapper .product-add-to-cart-container button {
  margin: 0;
  background: transparent !important;
  border: 1px solid #A48B55;
  padding: 11px 10px 7px;
  border-radius: 50px;
}

.addtocart__small--wrapper .single-add-to-cart-button--text {
  color: #A48B55;
  font-family: Saa Series F D;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
}

.search-drawer .predictive-search__item:hover,
.search-drawer .add_to_cart_holder .single-add-to-cart-button:hover {
  background: var(--dark-gold) !important;
}

.search-drawer .add_to_cart_holder .single-add-to-cart-button:hover .single-add-to-cart-button--text {
  color: var(--white) !important;
}

.side-panel-content.side-panel-content--has-tabs .side-panel-content--inner {
  overflow: auto;
}

.search-drawer .side-panel-content--inner .new-percentage {
  font-family: Saa Series F D;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.15em;
  margin-bottom: 3px;
}

.search-drawer .side-panel-content--inner .cart-product-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: capitalize;
  color: var(--charcoal-black);
}

.search-drawer .card__tasting-notes {
  margin: 4px 0 9px; 
}

.side-panel.search-drawer .side-panel-content--has-tabs .thb-predictive-search--popular {
  padding: 17px 17px 26px;
}

.side-panel-content--search-footer {
  padding: 18px 30px;
}