.product__items--wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 78px;
  margin-bottom: 118px;
  max-width: 1220px;
}

.product__list--wrap svg.placeholder_svg_tag {
  border: 1px solid;
  display: block;
}

.product__list--wrap .image__wrap img {
  width: 100%;
}

.product__list--wrap .block__header {
  padding: 16px 0 25px;
  border-bottom: 1px solid #333333;
}

.product__list--wrap .heading {
  font-size: 28px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin: 0;
  text-align: center;
}

.product__list--wrap .subheading {
  font-family: 'AGaramondPro';
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 9px 0 0;
  text-transform: initial;
}

.product__list--wrap .block__description {
  padding: 25px 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.product__list--wrap .block__description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0;
}

.product__list--wrap .block__buttons {
  padding-top: 20px;
  display: flex;
  column-gap: 22px;
}

.product__list--wrap .block__buttons a {
  display: block;
  flex: 0 1 50%;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 2px;
}

.product__list--wrap .block__buttons a.btn--gold {
  background-color: #FFCA24;
  border-color: #FFCA24;
}

.product__list--wrap .block__buttons a.btn--gold:hover {
  color: #FFCA24;
  border-color: #FFCA24;
  background: transparent;
}

.product__list--wrap .sold__out--btn {
  opacity: 0.5
}

@media only screen and (max-width: 1199px) {

  .product__list--wrap .block__buttons a {
    font-size: 12px;
  }
  
}

@media screen and (max-width: 1067px) and (min-width: 768px) {

  .product__list--wrap .heading {
    font-size: 22px;
    line-height: 26px;
  }

  .product__list--wrap .subheading {
    font-size: 18px;
  }

  .product__list--wrap .block__description p {
    font-size: 16px;
    line-height: 20px;
  }

  .product__items--wrap {
    gap: 20px;
  }

  .product__list--wrap .block__buttons {
    column-gap: 10px;
  }

  .product__list--wrap .block__buttons a {
    font-size: 10px;
  }
  
}

@media only screen and (max-width: 767px) {

  .product__items--wrap {
    margin-top: 40px;
    margin-bottom: 51px;
  }
  
  .product__items--wrap {
    grid-template-columns: 1fr;
    gap: 50px;
    padding-top: 16px;
  }

  .product__list--wrap .block__buttons {
    row-gap: 12px;
    flex-wrap: wrap;
  }

  .product__list--wrap .block__buttons a {
    flex: 0 1 100%;
  }

  .product__list--wrap .block__description {
    padding: 12px 0;
  }

  .product__list--wrap .block__header {
    padding: 11px 0 19px;
  }

  .product__list--wrap .heading {
    font-size: 24px;
    line-height: 32px;
  }

  .product__list--wrap .subheading {
    line-height: 27px;
    letter-spacing: 0.05em;
    margin: 4px 0 0;
  }

}

