.recommenadtions__row {
  background-color: #FFFDF9;
}

.recommenadtions__row .product-card .product-card-info .price {
  margin-bottom: 17px;
  font-size: 12px;
  color: #A28D5B;
}

.recommenadtions__row .product-title-uppercase-true .product-card .product-card-title {
  margin-bottom: 12px;
}

.recommenadtions__row .card__type {
  color: #53595C;
}

.recommenadtions__row .product-card .product-featured-image {
  margin-bottom: 20px;
}

.recommenadtions__row .product-card .product__country {
  margin-bottom: 12px;
}

.product-recommendations .section-header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #A38B55;
  letter-spacing: .05em;
}

.product-recommendations .section-header {
  margin-bottom: 40px;
}

.product-title-uppercase-true .product-recommendations .product-card .product-card-title {
  letter-spacing: normal;
  line-height: 26.4px;
  margin-bottom: 8px;
}

.product-recommendations .product-card .product__description {
  letter-spacing: normal;
}