.pricing__blocks-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.room__pricing-section {
  padding: 44px 0;
}

.pricing__blocks {
  padding: 20px 15px;
}

.pricing__blocks ul {
  padding: 0 0 0 30px;
  margin: 0;
}

.pricing__blocks .custom__h6 {
  margin-bottom: 10px;
}