.pricing__blocks-main {
  max-width: 1010px;
  margin: 0 auto;
}

.room__pricing-section {
  padding: 44px 0;
  border-bottom: 1px solid #cccccc;
}

.room__pricing-section-inner {
  padding: 0 20px;
}

.pricing__blocks {
  padding: 20px 15px;
}

.pricing__blocks ul {
  padding: 0 0 0 30px;
  margin: 0;
}

.pricing__blocks .custom__h6 {
  margin-bottom: 10px;
}

.room__pricing-section .custom__heading {
  margin-bottom: 30px;
}

.room__pricing-section-inner .product-variants {
  border: 1px solid #CCC;
  background: #FFF;
  max-width: 552px;
  margin: 22px auto 0;
  width: 100%;
}

.select-options {
  margin: 0;
  list-style: none;
  display: none;
}

.select-styled,
.select-options li {
  color: #333;
  font-family: Garamond Premiere Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  padding: 11px 16px;
  cursor: pointer;
}

.select-options li {
  border-top: 1px solid #cccccc;
}

.select-styled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath d='M2 2L8 8L14 2' stroke='%2353595C' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.trip__cart-btn {
  text-align: center;
  margin-top: 22px;
}

.product-submit.custom__btn {
  min-width: 349px;
  border-radius: 0;
}

.choose__pricing {
  margin-top: 37px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  
  .pricing__blocks-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }
  
}

@media only screen and (max-width: 1007px) {

  .pricing__blocks ul {
    padding: 0 0 0 30px;
    margin: 0;
  }

}

@media only screen and (max-width: 767px) {
  
  .pricing__blocks {
    margin-bottom: 20px;
  }
   
  .pricing__blocks:last-child {
    margin-bottom: 0;
  }

  .choose__pricing .custom__sub-heading,
  .choose__pricing .custom__sh1 {
    text-align: left;
  }

  .choose__pricing .custom__sh1 {
    margin-bottom: 13px; 
  }

  .room__pricing-section-inner .product-variants {
    margin: 0 auto;
  }
  
  .select-styled, .select-options li {
    font-size: 14px;
    line-height: 16.8px;
    padding: 14px 16px;
  }

  .room__pricing-section-inner {
    padding: 0;
  }

  .room__pricing {
    padding: 0 20px;
  }

  .product-submit.custom__btn {
    min-width: 335px;
  }

  .choose__pricing {
    margin-top: 29px;
  }
  
}

@media only screen and (max-width: 374px) {

  .product-submit.custom__btn {
    min-width: 100%;
  }
  
}