.pricing__blocks-main {
  max-width: 1010px;
  margin: 0 auto;
}

.room__pricing-section {
  padding: 44px 0;
}

.room__pricing-section-inner {
  padding: 0 20px;
}

.pricing__blocks {
  padding: 20px 15px;
}

.pricing__blocks ul {
  padding: 0 0 0 30px;
  margin: 0;
}

.pricing__blocks .custom__h6 {
  margin-bottom: 10px;
}

.room__pricing-section .custom__heading {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  
  .pricing__blocks-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }
  
}