.tour__details--wrap .btn_wrap {
  display: flex;
  column-gap: 15px;
  padding-top: 19px;
}

.tour__details--wrap .btn {
  border-radius: 6px;
  flex: 1;
  min-width: auto;
}

.tour__details--wrap .trip__details-content-text {
  max-width: 57%;
}

.tour__details--wrap .trip__image--with--content-inner .rte {
  padding: 26px 0;
  border-bottom: 1px solid #333;
}

.tour__details--wrap .trip__details {
  align-items: flex-start;
}

.tour__details--wrap .icon__row--wrap {
  justify-content: flex-start;
}

.tour__details--wrap  .image-with-text-overlay--content-inner.content-width-large {
  max-width: 800px;
}

.tour__details--wrap .trip__details {
  margin: 0;
}

.tour__details--wrap .custom__heading {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1em;
  margin: 0;
}

.tour__details--wrap .trip__details-content-inner {
  letter-spacing: 0.1em;
}