.tour__details--wrap .btn_wrap {
  display: flex;
  column-gap: 15px;
}

.tour__details--wrap .btn {
  border-radius: 6px;
  flex: 1;
}

.tour__details--wrap .trip__details-content-text {
  max-width: 60%;
}