.tour__details--wrap.row {
  max-width: 1290px;
  margin: 0 auto;
}

.tour__details--wrap .btn_wrap {
  display: flex;
  column-gap: 15px;
  margin-top: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tour__details--wrap .btn {
  border-radius: 6px;
  flex: 1;
  min-width: auto;
  padding: 14px 10px 10px !important;
  min-height: auto;
  line-height: 1;
}

.tour__details--wrap .trip__image--with--content-inner .rte {
  padding: 26px 0;
  border-bottom: 1px solid #333;
}

.tour__details--wrap .trip__details {
  align-items: flex-start;
  margin: 0;
}

.tour__details--wrap .icon__row--wrap {
  justify-content: flex-start;
}

.tour__details--wrap  .image-with-text-overlay--content-inner.content-width-large {
  max-width: 800px;
}

.tour__details--wrap .custom__heading {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1em;
  margin: 0;
}

.tour__details--wrap .trip__details-content-inner * {
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 768px) {
  
  .tour__details--wrap .trip__details {
    display: grid;
    grid-template-columns: 1fr 0.91182fr;
    column-gap: 42px;
  }
  
}

@media only screen and (max-width: 767px) {

  .tour__details--wrap .trip__image--with-content {
    padding: 17px 0 0;
  }

  .tour__details--wrap .custom__heading {
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .tour__details--wrap .trip__details-content-inner * {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
  }

  .tour__details--wrap .trip__details-content {
    padding: 13.5px 0;
  }

  .tour__details--wrap .btn_wrap {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-top: 15px;
  }

  .tour__details--wrap .trip__details-content-inner br {
    display: none;
  }

  .tour__details--wrap .icon__row--wrap {
    justify-content: center;
  }
  
}




