.tour__details--wrap .icon__wrap {
  display: flex;
  column-gap: 22px;
}

.tour__details--wrap .icon_items {
  text-align: center
}

.tour__details--wrap .icon_items p {
  margin: 0;
}

.tour__details--wrap .btn_wrap {
  display: flex;
  column-gap: 15px;
  border-top: 1px solid #333;
  padding-top: 19px;
}

.tour__details--wrap .btn {
  border-radius: 6px;
  flex: 1;
}

.tour__details--wrap .trip__details-content-text {
  max-width: 60%;
}

.tour__details--wrap .trip__image--with--content-inner .rte {
  padding: 26px 0;
}