.trip__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--color-bg, #fff);
}

@media only screen and (min-width:768px) {
  
  .trip__details {
    flex-wrap: nowrap;
  }

}

.trip__details.text_first {
  flex-direction: row-reverse;
}

.trip__details--text-image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.trip__details--text-image svg,
.trip__details--text-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trip__details--text-image svg {
  padding: 50px;
  fill: var(--bg-body, #fff);
  opacity: 0.5;
  background: var(--color-accent);
}

.trip__details--text-image-media {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: var(--ratio-percent);
}

.trip__details--text-image-media.aspect-ratio--small {
  padding-bottom: 75%;
}

.trip__details--text-image-media.aspect-ratio--large {
  padding-bottom: 100%;
}

.trip__details--text-image-media iframe,
.trip__details--text-image-media video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-with-text__content {
  width: 100%;
  flex-grow: 1;
  padding: 25px;
}

.image-with-text__content .btn {
  margin-top: 15px;
  display: inline-block;
}

@media only screen and (min-width:768px) {
  
  .image-with-text__content {
    padding: 45px;
  }

}

@media only screen and (min-width:1068px) {
  
  .image-with-text__content {
    padding: 70px;
  }

}

.image-with-text__content svg {
  width: 100px;
  height: 100px;
  fill: var(--bg-body, #fff);
  opacity: 0.5;
  background: var(--color-accent);
  margin-bottom: 20px;
}

.image-with-text__content--inner {
  max-width: 600px;
  margin: 0 auto;
}

.image-with-text__content__image {
  margin-bottom: 30px;
}

.image-with-text__content p,
.image-with-text__content h3 {
  color: var(--color-text, --color-body);
}

.image-with-text__content .text-button {
  color: var(--color-text, --color-body);
}

.image-with-text__content .text-button:before {
  background: rgba(var(--color-text-rgb), 0.4);
}

.image-with-text__content .text-button:after {
  background: var(--color-text, --color-body);
}

.image-with-text__content .accordion summary {
  color: var(--color-text, --color-body);
}

.image-with-text__content .accordion summary span:before,
.image-with-text__content .accordion summary span:after {
  background: var(--color-text, --color-body);
}

.template-page-shop .section-image-with-text {
  border-top: 1px solid #666666;
}

.template-page-shop .image-with-text__content--inner .subheading {
  font-family: 'Saa Series F D';
  letter-spacing: 0.15em;
  color: #DCB251;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
}

.template-page-shop .image-with-text__content--inner .heading {
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.04em;
}

.template-page-shop .image-with-text__content--inner .rte p {
  line-height: 120%;
}

.template-page-shop .image-with-text__content .btn {
  margin-top: 10px;
}

@media only screen and (min-width:768px) {
  
  .image-with-text.grid--image-small > .image-with-text__inner {
    width: 40%;
  }

}

@media only screen and (min-width:768px) {
  
  .image-with-text.grid--image-medium > .image-with-text__inner {
    width: 50%;
  }
  
  .trip__details-main .row.full-width-spacing {
    width: 100%;
    max-width: 100%;
    padding: 64px 0 85px;
    margin: 0;
  }

  .trip__details-main .row.full-width-spacing .columns {
    max-width: 1440px;
    margin: 0 auto;
  }
    
  .image-with-text.grid--image-large > .image-with-text__inner {
    width: 60%;
  }

}

@media only screen and (max-width:767px) {
  
  .image-with-text__content {
    padding: 25px 0;
  }

  .template-page-shop .image-with-text__content--inner .subheading {
    font-size: 12px;
  }

}

.trip__image--text .image-with-text__content--inner .heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: capitalize;
}

.trip__image--text .image-with-text__content--inner .rte * {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: normal;
}

.trip__content-subheading {
  color: #53595C;
  font-family: Garamond Premier Pro;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;  
}

.trip__details-description {
  color: #76797b;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  font-family: 'AGaramondPro';
  margin-top: 5px;
}

.trip__details-content-inner {
  width: 100%;
}

.trip__details-content-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trip__details-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #333333;
}

.trip__details-content-text {
  max-width: 410px;
  text-align: right;
}

@media only screen and (min-width: 768px) {

  .trip__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 48px 0;
  }

  .section-image-with-text .trip__image--text.row.full-width-spacing .columns {
    max-width: 1242px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .trip__image--text .image-with-text__inner {
    width: auto !important;
  }

  .trip__image--text .image-with-text__content.image-with-text__inner {
    padding: 0;
  }

}

@media only screen and (min-width: 1067px) {
  
  .trip__details {
    column-gap: 40px;
  }

}

@media only screen and (min-width: 1068px) {
  
  .trip__image--text .image-with-text__content {
    padding: 0 60px;
  }
  
}

@media only screen and (min-width: 1367px) {

  .trip__details-main .row {
    padding: 0 135px;
  }

}

@media only screen and (max-width: 767px) {

  .trip__image--text {
    padding: 0;
  }

  .trip__image--text .columns {
    padding: 0;
  }

  .trip__image--text .image-with-text__content--inner .heading {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 12px;
  }

  .trip__image--text .image-with-text__content {
    padding: 16px 20px 25px;
  }

  .trip__content-heading {
    font-size: 28px;
    line-height: 37px;
  }
  
}