.event__counts {
  display: flex;
}

.event__item {
  position: relative;
  width: 100%;
}

.event__steps {
  display: flex;
  max-width: 1100px;
  padding: 0 20px 80px;
  margin: 0 auto;
}

.event__item .count {
  background: #333333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff !important;
  font-family: Saa Series E D;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.event__item .count:after {
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/2434/0841/files/line-new.png?v=1695379062);
  width: calc(50% - 30px);
  height: 10px;
  display: block;
  position: absolute;
  right: 0;
  top: 30px;
}

.event__item .count:before {
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/2434/0841/files/line-new.png?v=1695379062);
  width: calc(50% - 30px);
  height: 10px;
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
}

.event__item:first-child .count:before,
.event__item:last-child .count:after {
  display: none;
} 

.virtual__events--wrap .step__text {
  margin-top: 20px;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

.virtual__events--wrap .section__header {
  width: 100%;
}

.virtual__events--wrap .block__buttons {
  flex-direction: column;
  align-items: center;
}

.virtual__events--wrap .link__wrap {
  flex-direction: column;
  margin-top: 17px;
}

.virtual__events--wrap .link__wrap p {
  margin: 0;
}

.virtual__events--wrap .link__wrap a {
  font-family: Saa Series E D;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-decoration: underline;
  color: #333;
  text-underline-offset: 4px;
}

.virtual__events--wrap .text__wrap {
  padding: 16px 20px 38px;
}

.virtual__events--wrap .btn {
  min-width: 310px;
  min-height: 46px;
}

.virtual__events--wrap .section__footer {
  width: 100%;
  margin-top: 46px;
}

.virtual__events--wrap .section__footer p {
  margin: 0;
  font-size: 20px;
  font-family: 'AGaramondPro';
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.virtual__events--wrap .section__footer a {
  color: #D3A741;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}